<p>Para la elaboración del estudio, los expertos analizaron el comportamiento de 1,681 perros de 50 razas diferentes y
    de edades comprendidas entre 0 y 15 años. Además, esta ha sido uno de las investigaciones más extensa sobre la
    personalidad de los perros.</p>
<p>La extensa encuesta hizo que cada propietario evaluara la personalidad de su perro y respondiera varias preguntas
    sobre su historial de comportamiento. Los propietarios también respondieron una encuesta sobre sus propias
    personalidades.</p>
<h3>En muchas ocaciones era fácil adivinar de quién era el perro, pues su personalidad canina era un reflejo de los
    seres humanos que permanecían más tiempo a su lado.</h3>
<p>Así, por ejemplo, los propietarios más extrovertidos respondieron que sus perros eran muy activos y alegres, mientras
    que los dueños más introvertidos y reservados afirmaron que sus canes eran más temerosos, más calmados y se
    mostraban menos receptivos a la hora de obedecer órdenes.</p>
<p>Asimismo, el investigador y su equipo descubrieron que las personalidades de los perros pueden predecir factores como
    la cercanía que sienten respecto a sus dueños, la propensión a morder o incluso la tendencia a sufrir enfermedades
    crónicas.</p>
<figure id="attachment_24315" aria-describedby="caption-attachment-24315" style="width: 800px"
    class="wp-caption aligncenter"><img class="size-full wp-image-24315"
        src="https://c.files.bbci.co.uk/48DD/production/_107435681_perro1.jpg" alt="personalidad perros perro"
        width="800" height="410" sizes="(max-width: 800px) 100vw, 800px">
    <figcaption id="caption-attachment-24315" class="wp-caption-text">Los perros han acompañado a la humanidad desde
        hace siglos como uno de los aliados animales más fieles.<br>Foto: Getty Images</figcaption>
</figure>
<div class="mceTemp"></div>

<h1>¿Cuál es la edad ideal para entrenar a tu perro</h1>
<p>La mejor edad para enseñar a un perro a obedecer es a los seis años, cuando supera su etapa de cachorro excitable
    pero antes de que se establezca demasiado en su etapa adulta. Por otro lado, los perros más viejos son mucho más
    difíciles de entrenar.</p>
<p>“La exposición a las clases de obediencia se asoció con rasgos de personalidad más positivos a lo largo de la vida
    del perro” añade Chopik.</p>
<h3>Este estudio demuestra que la personalidad de un perro no viene absolutamente marcada de nacimiento, sino que se
    puede moldear.</h3>
<p>“Supongamos que adoptas a un perro de un refugio. Es probable que algunos de sus rasgos estén ligados a la biología y
    sea difícil cambiarlos, pero al cambiar su entorno por otro en el que es amado, sale a pasear y hace cosas
    divertidas el perro comenzará a sentirse más relajado y mostrará otros rasgos de personalidad como la tranquilidad y
    la sociabilidad”, apunta.</p>
<p><strong>NO TE PIERDAS:&nbsp;</strong>¿Cómo son los hábitos de sueño de los perros?</p>